
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: #F0F8EA;
  font-family: 'Quicksand', sans-serif;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px;
    margin: 0 auto;
    align-items:center;

}

.nav-icons {
  list-style: none;
  display: flex;
}
.nav-icons a {
  padding: 0px 10px; 
}

header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(hsla(0, 0%, 97%, .9), #9B8055);
    
}

header::after {
  display: block;
}
.nav-items {
  position: absolute;
  top: 100%;      
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);        
  transition: clip-path ease-in-out 700ms;
  height: 90vh;
  width: 60vw;
  overflow: hidden;
}

.nav-items--open {
  clip-path: circle(250% at top right);
  
}

.nav-items ul {
  list-style:none;
  height: 100%;
  flex-direction: row; 
}
.nav-items li {
  border-bottom: 1px solid #575766;
  
}

.nav-items li:last-child {
  border-bottom: none;
}

.nav-items--open li{
   opacity: 0;
    animation: fadeIn ease-out 800ms forwards;
} 
.nav-items--open li:nth-child(1) { animation-delay: 0ms; }
.nav-items--open li:nth-child(2) { animation-delay: 100ms; }
.nav-items--open li:nth-child(3) { animation-delay: 200ms; }
.nav-items--open li:nth-child(4) { animation-delay: 300ms; }


@keyframes fadeIn {
    0% {   opacity: 0; transform: translateX(100px); }
   100% { opacity: 1; transform:  translateX(0%);   }
}

.nav-items--closed li{
  opacity: 1;
  animation: fadeIn ease-out 800ms forwards;
} 

.nav-items--open li:nth-child(4) { animation-delay: 200ms; }
.nav-items--open li:nth-child(3) { animation-delay: 300ms; }
.nav-items--open li:nth-child(2) { animation-delay: 400ms; }
.nav-items--open li:nth-child(1) { animation-delay: 500ms; }

@keyframes fadeOut {
  0% {   opacity: 1; transform: translateX(0%); }
 100% { opacity: 0; transform:  translateX(500px);   }
}

.nav-items a {
  color: #9B8055;
  display: flex;
  padding: 2em 4em;
  text-decoration: none;
  
}

.nav-items a:hover,
.nav-items a:focus {
  background: #eccf9f;
  color: #aa7c31;
}


.menu-toggle {
  cursor: pointer;
  display: flex;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #9B8055;
  transform: translateY(2px);
  height: 3px;
  width: 2em; 
  border-radius: 3px;
  cursor: pointer;
  
  
}

.hamburger::before {
   transform: translateY(12px);  
}

.hamburger::after {
  transform: translateY(3px);
} 

/* Desktop view */

@media (min-width: 650px) {
  

  .menu-toggle .hamburger {
    display: none;
  }
  
  .nav-items {
    height: auto;
    position: relative;
    background: transparent;
    float:right;
    clip-path:initial;
    width: 70vh;
          
  }
  .nav-items ul{
    display: flex;
    
  }
  
  .nav-items li {
    border: none;
    justify-content: space-between;
  }
  
  .nav-items a {
     padding: 0; 
    margin-left: 2.5em; 
  }
  
  .nav-items a:hover,
  .nav-items a:focus {
    background: transparent;
  }
  
  .nav-items--icon {
    display: none;
  }
  
}
